.elementor-kit-7{--e-global-color-primary:#3ea8e2;--e-global-color-secondary:#FFFFFF;--e-global-color-text:#3ea8e20D;--e-global-color-accent:#252525;--e-global-typography-primary-font-family:"Manrope";--e-global-typography-primary-font-size:14px;--e-global-typography-primary-font-weight:500;--e-global-typography-secondary-font-family:"Manrope";--e-global-typography-secondary-font-size:60px;--e-global-typography-secondary-font-weight:600;--e-global-typography-text-font-family:"Manrope";--e-global-typography-accent-font-family:"Manrope";font-family:"Manrope", Sans-serif;font-size:60px;font-weight:600;}.elementor-kit-7 button,.elementor-kit-7 input[type="button"],.elementor-kit-7 input[type="submit"],.elementor-kit-7 .elementor-button{background-color:var( --e-global-color-primary );font-family:"Manrope", Sans-serif;font-size:14px;font-weight:700;line-height:20px;color:var( --e-global-color-secondary );border-radius:4px 4px 4px 4px;padding:14px 24px 14px 24px;}.elementor-kit-7 button:hover,.elementor-kit-7 button:focus,.elementor-kit-7 input[type="button"]:hover,.elementor-kit-7 input[type="button"]:focus,.elementor-kit-7 input[type="submit"]:hover,.elementor-kit-7 input[type="submit"]:focus,.elementor-kit-7 .elementor-button:hover,.elementor-kit-7 .elementor-button:focus{background-color:#0A643C;}.elementor-kit-7 e-page-transition{background-color:#FFBC7D;}.elementor-kit-7 a{color:#25252566;}.elementor-kit-7 a:hover{color:#25252599;}.elementor-kit-7 h1{color:var( --e-global-color-accent );font-family:"Manrope", Sans-serif;font-size:60px;font-weight:600;letter-spacing:-1.2px;}.elementor-kit-7 h2{color:var( --e-global-color-accent );font-family:"Manrope", Sans-serif;font-size:36px;font-weight:600;line-height:44px;letter-spacing:-0.72px;}.elementor-kit-7 h3{color:var( --e-global-color-accent );font-family:"Manrope", Sans-serif;font-size:24px;font-weight:600;line-height:32px;letter-spacing:-0.6px;}.elementor-kit-7 h4{color:var( --e-global-color-accent );font-family:"Manrope", Sans-serif;font-size:18px;font-weight:600;line-height:28px;letter-spacing:-0.7px;}.elementor-kit-7 h5{color:var( --e-global-color-accent );font-size:16px;font-weight:700;line-height:24px;letter-spacing:-0.5px;}.elementor-kit-7 h6{font-family:"Manrope", Sans-serif;letter-spacing:-1.2px;}.elementor-kit-7 label{color:var( --e-global-color-accent );}.elementor-kit-7 input:not([type="button"]):not([type="submit"]),.elementor-kit-7 textarea,.elementor-kit-7 .elementor-field-textual{color:var( --e-global-color-accent );background-color:var( --e-global-color-secondary );border-radius:4px 4px 4px 4px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1660px;}.e-con{--container-max-width:1660px;--container-default-padding-top:0px;--container-default-padding-right:0px;--container-default-padding-bottom:0px;--container-default-padding-left:0px;}.elementor-widget:not(:last-child){margin-block-end:0px;}.elementor-element{--widgets-spacing:0px 0px;--widgets-spacing-row:0px;--widgets-spacing-column:0px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1700px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1400px;}.e-con{--container-max-width:1400px;}}@media(max-width:1300px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-7{font-size:14px;}.elementor-kit-7 h2{font-size:30px;line-height:38px;letter-spacing:-0.72px;}.elementor-kit-7 h3{font-size:24px;line-height:32px;letter-spacing:-0.9px;}.elementor-kit-7 h4{font-size:18px;line-height:28px;letter-spacing:-0.9px;}.elementor-kit-7 h5{font-size:16px;line-height:24px;letter-spacing:-0.6px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */html, body {
    overflow-x: hidden;
    max-width: 100vw;
}

.cs-instruction-container {
    position: relative;
    /*z-index: 0;*/
}

#contact_Form {
    scroll-margin-top: 300px;
}

.breadcrumb-white a {
    color: #ffffffcc !important;
}

.post-content {
    h2 {
        font-size: 24px;
        line-height: 32px;
        
        @media (1024px <= width) {
            font-size: 32px;
            line-height: 40px;
        }
    }
}

.benefit-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-form-submit-button {
    margin-top: 18px;
    width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    background: #f6f6f6 !important;
    padding: 16px 24px !important;
    border: 1px solid #b8b8b8 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.contact-form .elementor-form-fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form-trigger {
    width: 100%;
    text-align: center;
    color: #fff !important;
    padding-block: 16px;
    margin-top: 20px;
    border-radius: 2px;
}

#contact-form-toggle:not(:checked) + .contact-form-overlay {
    overflow: hidden;
    opacity: 0;
    z-index: -10;
}

#contact-form-toggle:checked + .contact-form-overlay {
    overflow: visible;
    opacity: 1;
    z-index: 100;
}

.contact-form-header {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
}

.contact-form-description {
    margin-top: 10px;
    margin-bottom: 24px;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.contact-form-container {
    background: #fff;
    padding: 28px;
    max-width: 90vw;
    max-height: 90vh;
    text-align: center;
    position: relative;
}

.contact-form-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
}

#contact-form-toggle {
    display: none;
}

.contact-form-overlay {
    position: fixed;
    inset: 0;
    background: #00000080;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-trigger {
    background: #3ea8e2;
}

.desktop-contact-form-container {
    display: none;
    
    @media (1024px <= width) {
        display: flex;
    }
}

.mobile-contact-form-container {
    @media (1024px <= width) {
        display: none;
    }
}

.accodion-item-title {
    display: none;
    
    @media (1024px <= width) {
        display: flex;
    }
}

.services-swiper .swiper-slide {
    overflow: hidden;
    border-radius: 12px;
}

.service-item-content-container {
    padding: 24px;
    background-color: #f6f6f6;
}

.service-item-content-container p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.service-item-content-container p:nth-child(2) {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.aspect-2/1 {
    aspect-ratio: 2 / 1;
}

.mt-3 {
    margin-top: 12px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;   
}

.relative {
    position: relative;
}

.size-full {
    width: 100%;
    height: 100% !important;
}

.contact-images-swiper-pagination {
    padding: 6px 10px !important;
    width: 100% !important;
    z-index: 10 !important;
    position: absolute !important;
    bottom: 21px !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    gap: 8px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    
}

.contact-images-swiper-pagination .swiper-pagination-bullet {
    display: flex !important;
    width: 60px !important;
    height: 3px !important;
    border-radius: 9999px !important;
    background: #ffffff !important;
    opacity: 0.2 !important;
    
    &.swiper-pagination-bullet-active {
        opacity: 1 !important;
    }
}

.contact-images-swiper {
    border-radius: 12px;
    overflow: hidden;
}

.stories-swiper-prev {
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

.stories-swiper-next {
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.stories-swiper-prev,
.stories-swiper-next {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  @media (1024px <= width) {
    width: 48px;
    height: 48px;
  }
}

.stories-swiper .swiper-slide p {
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase
}

.stories-swiper .swiper-slide div {
    aspect-ratio: 1 / 1;
}

.stories-swiper .swiper-slide img {
    object-fit: cover;
}

.contact-form-information {
    /*aspect-ratio: 563 / 662;*/
}

.product-contact-section h2 {
    text-wrap: balance;
}

.cs-image-zoom img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.cs-image-zoom:hover img {
    transform: scale(1.1);
}

.cs-progress-swiper .swiper-pagination {
    position: relative;
}

.tda-result-card.tda-result-card-product.tda-product-physical img {
    aspect-ratio: 4/5 !important;
}/* End custom CSS */